
label {
    margin-block-end: 0.2rem;
}
label span {
    color: red;
}
input,
select#time,
textarea,
select#adults,
select#children,
#occasion {
    height: 2.2rem;
    border-radius: 16px;
    border: none;
    background-color: #D9D9D9;
    padding-inline: 1rem;
}
select#time,
select#adults,
select#children,
select#occasion {
    border: unset;
    width: 100%;
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}
#specialrequest {
    height: 6rem;
    padding-block: 0.7rem;
    resize: none;
}
.article__booking__container h2,
.article__booking__container h3 {
    text-align: center;
}
.article__booking__container h2 {
    font-size: 2.7rem;
}
.article__booking__container h3 {
    font-size: 1.8rem;
    font-weight: 100;
    margin-block-end: 1rem
}
.booking__form__container {
   max-width: 46rem;
   padding-inline: 2rem;
   margin: 0 auto;
}
.booking__date__time__container,
.booking__adults__children__container,
.booking__name__container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    margin-block-end: 1.6rem;
}
.booking__interior__date__container,
.booking__interior__time__container,
.booking__interior__adults__container,
.booking__interior__children__container,
.booking__interior__firstname__container,
.booking__interior__lastname__container {
    display: flex;
    flex-direction: column;
    width: 46%;
}
.booking__email__container,
.booking__phone__container,
.booking__specialrequest__container,
.booking__occasion__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block-end: 1.6rem;
}
.booking__button {
    display: block;
    margin: 0 auto;
    background-color: #F4CE14;
    border-style: none;
    width: 10rem;
    padding: 1em;
    border-radius: 5px;
    font-weight: 600;
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
    .booking__form__container {
        margin: 0 auto;
        background-color: #f9f7f7;
        border-radius: 16px;
        padding: 3rem;
    }
    .booking__email__phone__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .booking__email__container, .booking__phone__container,
    .booking__occasion__container {
        width: 46%;
    }

}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .booking__email__phone__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .booking__email__container, .booking__phone__container {
        width: 46%;
    }
    .booking__form__container {
        border-radius: 16px;
        padding: 3rem;
        background-color: #f9f7f7;
    }
}