.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0.3rem 0.3rem 0 0;
}
.logo-container {
  text-align: right;
  margin-right: 1rem;
}
.logo{
    width: 8rem;

}

/*Desktop*/
@media screen and (min-width: 1200px) {
  .header {
    flex-direction: row;
    justify-content: center;
    gap: 5.2rem;
    max-width: 858px;
    margin: 0 auto;
    padding: 1rem 0;
}
.logo-container {
  margin-right: 0;
}
.logo {
  width: 10rem;
}
}