.hero__container__description,
.section__container__specials,
.main__container__testimonials,
.main__container__about,
.main__container__footer {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 2.56rem;
}
.main__container__footer {
    margin-bottom: 0;
}
.hero__container__description,
.main__container__testimonials,
.main__container__footer {
    background-color: #495E57;
}
.section__container__specials,
.main__container__about
 {
    background-color: white;
}
.hero-intro-button,
.specials-button {
    background-color: #F4CE14;
    border-style: none;
    width: 10rem;
    padding: 1em;
    border-radius: 5px;
    font-weight: 600;
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
    .specials-text-title {
        font-size: 4rem;
    }
    .hero-intro-button,
    .specials-button {
        width: 12.5rem;
        font-size: 1.125rem;
        padding: 1.22rem 0;
        transition: all 500ms ease;
    }
    .hero-intro-button:hover,
    .specials-button:hover {
        box-shadow: 0 0 20px #eac50f;
    }
}